.mainanotador{
    h1{
        font-size: 40px;
        text-align: center;
    }
    p{
        font-size: 20px;
        text-align: center;
    }
}

.tabla{
    text-align: center;
}
.th1{
    background-color: gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    border: 2px solid black;
}
.th2{
    background-color:darkgrey;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    border: 2px solid black;
}
input{
    font-size: 10px;
}
button{
    background-color:deepskyblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
}
