.mainpredicciones{
    h1{
        font-size: 40px;
        text-align: center;
    }
    p{
        font-size: 20px;
        text-align: center;
    }
}
.imglogog{
    height: 60%;
    width: 100%;
}

#formjugadores{
    text-align: center;
}

label{
    font-size: 20px;

}
input{
    font-size: 20px;

}
button{
    background-color:deepskyblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
}